<section class="footer">
    <div class="container">
        <div class="wrapper">
            <div class="title">
                <img src="src/assets/images/Logo.png" alt="" class="logo">
                <p class="textt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam </p>
            </div>

            <div class="information">
                <h1 class="title">Information</h1>
                <ul class="menu">
                    <li class="menu-item">
                        <a href="" class="link">About us</a>
                    </li>

                    <li class="menu-item">
                        <a href="" class="link">Lifstyle</a>
                    </li>

                    <li class="menu-item">
                        <a href="" class="link">Fitness</a>
                    </li>

                    <li class="menu-item">
                        <a href="" class="link">Pricing</a>
                    </li>
                </ul>
            </div>

            <div class="more-links">
                <h1 class="title">More Links</h1>
                <ul class="menu">
                    <li class="menu-item">
                        <a href="" class="link">Gallery</a>
                    </li>
                    <li class="menu-item">
                        <a href="" class="link">ClubLocation</a>
                    </li>

                    <li class="menu-item">
                        <a href="" class="link">Behind the scence</a>
                    </li>

                    <li class="menu-item">
                        <a href="" class="link">Contact</a>
                    </li>
                </ul>
            </div>

            <div class="follow">
                <h1 class="title">Follow Us On!</h1>
                <div class="icons">
                    <img src="src/assets/icons/Vector (2).svg" alt="" class="icon">
                    <img src="src/assets/icons/Vector (3).svg" alt="" class="icon">
                    <img src="src/assets/icons/Vector (4).svg" alt="" class="icon">
                </div>
            </div>

        </div>
        <p class="copyright">Copyright © 2021 RGym. All Rights Reserved.</p>
    </div>
</section>

<style lang="scss">
    .footer{
        padding: 60px 0 150px;
        .wrapper{
            display: flex;
            justify-content: space-between;
            width: 100%;
            .title{
                .logo{
                    padding-bottom: 45px;
                }
                .textt{
                    font-size: 18px;
                    font-family: 'regular-400';
                    color: #fff;
                    width: 200px;

                }
            }

            .information{
                .title{
                    font-size: 24px;
                    font-family: 'poppins-600';
                    color: #fff;
                }
                .menu{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    padding-top: 45px;

                    .link{
                        color: #fff;
                        font-size: 18px;
                        font-family: 'poppins-600';
                        transition: 0.5s;
                        &:hover{
                            color: #A92A1D;
                        }
                    }
                }
            }

            .more-links{

                .title{
                    font-size: 24px;
                    font-family: 'poppins-600';
                    color: #fff;
                }
                .menu{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    padding-top: 45px;      

                    .link{
                        color: #fff;
                        font-size: 18px;
                        font-family: 'poppins-600';
                        transition: 0.5s;       
                        &:hover{
                            color: #A92A1D;
                        }
                    }
                }
            }

            .follow{

                .title{
                    font-size: 24px;
                    font-family: 'poppins-600';
                    color: #fff;
                    padding-bottom: 45px;               
                }

                .icons{
                    .icon{
                        background: #292929;
                        color: #E74C3C;
                        padding: 12px 15px;
                        transition: 0.5s;
                        cursor: pointer;
                        &:hover{
                            background: #A92A1D;
                        }
                    }
                }
            }
        }

        .copyright{
            font-size: 16px;
            font-family: 'poppins-600';
            color: #fff;
            text-align: center;
            padding-top: 105px;
        }
    }
</style>