<section class="newsletter">
    <div class="container">
        <div class="wrapper">
            <div class="images">
                <img src="src/assets/images/Personal-training5.jpg" alt="" class="img">
                <div class="welcome">
                    <h1 class="title">Welcome to  RGym</h1>
                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dui neque sa gittis magna erat sagittis morbi. Id libero.</p>
                </div>
                <img src="src/assets/images/Personal-training1.jpg" alt="" class="img">
            </div>

            <div class="sign-up">
                <h1 class="title">Subscribe to our newsletter</h1>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dui neque.</p>
                <input type="text" class="input border" placeholder="Enter Email" id="input">
                <button class="btn">Submit</button>
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    .newsletter{
        .wrapper{
            .images{
                display: flex;
                justify-content: space-between;
                .img{
                    width: 400px;
                }

                .welcome{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    .title{
                        font-size: 24px;
                        font-family: 'bold-700';
                        color: #fff;
                    }
                    .text{
                        font-size: 18px;
                        font-family: 'regular-400';
                        color: #fff;
                    }
                }
            }

            .sign-up{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 140px 0 200px;

                .title{
                    font-size: 36px;
                    font-family: 'semibold-600';
                    color: #fff;
                }

                .text{
                    font-size: 18px;
                    font-family: 'regular-400';
                    color: #fff;
                    padding: 20px 0;
                }

                .input{
                    width: 400px;
                    text-align: center;
                    font-size: 18px;
                    font-family: 'regular-400';
                    padding: 18px 0px;
                    background: none;
                    color: #fff;
                    outline: none;
                    margin-bottom: 25px;    
                }

                .border{
                    border: 2px solid #fff;
                }

                .btn{
                    width: 400px;
                    text-align: center;
                    font-size: 18px;
                    font-family: 'regular-400';
                    padding: 18px 0px;
                    background: #fff;
                    color: #000;
                    border: 1px solid #fff;
                    transition: 0.5s;
                    &:hover{
                        color: #fff;
                        background: #A92A1D;
                    }
                }
            }
        }
    }

.valid{
    border: 2px solid green;
}

.invalid{
    border: 2px solid red;
}


</style>

<script>
    const email = document.querySelector('#input');

    email.addEventListener('input', () => {
        const value = email.value;

        if(ValidateEmail(value)) {
        email.classList.add("valid")
        email.classList.remove("invalid")
        email.classList.remove('border')
        } else{
        email.classList.add("invalid");
        email.classList.remove("valid");
        email.classList.remove('border')
        };

        clearInducators(email,value)
    })


// email
function ValidateEmail(input_str) {
    const re = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;

    return re.test(input_str);
};

// -->
function clearInducators(el, val) {
    if(val.length == 0) {
        el.classList.remove("valid")
        el.classList.remove("invalid")
        email.classList.add('border')
    }
}
</script>